<nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow">
  <div class="container-fluid">
    <%= link_to 'Recipes', '/', class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Home', '/', class: "nav-link #{ current_page?('/') ? 'active' : '' }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Food', foods_path, class: "nav-link #{ current_page?(foods_path) ? 'active' : '' }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Recipes', recipes_path, class: "nav-link #{ current_page?(recipes_path) ? 'active' : '' }" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0" >
        <li>
          <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-primary" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
