<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-dark">
    <% if notice %> <p class="position-absolute top-0 start-0 alert alert-primary"><%= notice %></p> <% end %>
    <% if alert %><p class="position-absolute top-0 start-0 alert alert-danger"><%= alert %></p> <% end %>
    <% if user_signed_in? %>
      <%= button_to 'Log out' , destroy_user_session_path, method: :delete, class: "btn btn-primary position-absolute top-0 end-0" %>
    <% end %>
    <%= yield %>
  </body>
</html>
