<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% if type == 'success' %>
        <div class="alert alert-success">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <% if notice %> <div class="alert"><%= notice %></div> <% end %>
    <% if alert %><div class="alert alert-danger"><%= alert %></div> <% end %>
    <%= yield %>
  </body>
</html>
