<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if notice %> <p class="notice"><%= notice %></p> <% end %>
    <% if alert %><p class="alert"><%= alert %></p> <% end %>
    <% if user_signed_in? %>
      <%= button_to 'Log out' , destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>
    <% end %>
    <%= yield %>
  </body>
</html>
