<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-dark">
    <% flash.each do |type, msg| %>
      <% flash_class = '' %>
      <% if type == 'success' %>
        <% flash_class = 'success' %>
      <% elsif type == 'alert' %>
        <% flash_class = 'danger' %>
      <% end %>
      <div class="position-absolute top-0 start-0 alert alert-<%= flash_class %>">
         <%= msg %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= button_to 'Log out' , destroy_user_session_path, method: :delete, class: "btn btn-primary position-absolute top-0 end-0" %>
    <% end %>
    <%= yield %>
  </body>
</html>
